/**************************/
/****Style for collapse****/
/**************************/

.collapse-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #ff6060;
    border-radius: 5px;
    height: 30px;
    // margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        height: 54px;
        // margin-top: 30px;
    }
    
    .title-collapse {
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        margin-left: 10px;

        @media screen and (min-width: 1024px) {
            font-size: 24px;
            margin-left: 15px;
        }
    }

    .arrow-collapse {
        margin-right: 10px;
        cursor: pointer;
        transition: all 400ms ease-in-out;

        
        @media screen and (min-width: 1024px) {
            margin-right: 20px;
        }
    }

    .close-collapse {
        transform: rotate(180deg);
    }
}

.content-collapse {
    display: block;
    margin: 0 35px;
    font-size: 13px;
    line-height: 1.5;
    max-height: 0;
    transition: max-height 0.3s ease;

    @media screen and (min-width: 1024px) {
        font-size: 17px;
    }
}

.text-visible {
    max-height: 300px;
    margin: 15px 35px 0px 35px;
    opacity: 1;
    transform: translateY(0);
    transition: all 600ms ease-in-out;
}

.text-invisible {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 600ms ease-in-out;
}


